<md-dialog aria-label="MsgHistory"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools myToolbar">
        <span flex></span>
      </div>
    </md-toolbar>
    <br>
    <md-dialog-content>

        <table>
        <tbody>
          <tr class="msgs" ng-repeat="msg in data.msgs">
            <td ng-if="msg.from===user.username">
              <img src="{{user.image}}" class="img-circle" style="width: 10%;"/>
              <p>{{msg.text}}</p>
            </td>
            <td ng-if="msg.from===friend.username">
              <img src="{{friend.image}}" class="img-circle" style="width: 10%;"/>
              <p>{{msg.text}}</p>
            </td>
          </tr>
        </tbody>
        </table>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
